

 <h2>Home</h2>
      {{#each persons}}
     
                <ul>
                Name: {{name}}
                <br>
                Eye Color: {{eyecolor}} 
                <br>
                Hair Color: {{haircolor}}
                <br>
                Age: {{age}}
                <br>
                </ul>
                
                
             
      {{/each}}





          



